{% extends "base.html" %}
{% block title %}NOT FOUND{% endblock %}
{% block content %}          
<div class="container-fluid h-50 mainDiv">
    <!--2-8-2-->
    <div class="row align-self-center">
        <div class="col-lg-2 itemF"></div>
        
        <div class="col-lg-8 itemF">

            <h1>PASTE NOT FOUND</h1>
            <a  style="font-weight:500; font-size: 2.7vh; margin-top: 12vh; text-align: center;" href="/newpaste">ADD NEW PASTE &nbsp;&nbsp;<i class="far fa-clipboard fa-lg" style="color:khaki"></i></a>

        </div>
        
        <div class="col-lg-2 itemF"></div>
    </div> 

</div>
{% endblock %}